
node_modules/

Thumbs.db
.DS_Store

frontend/build/
backend/dist/

.idea/
.vscode/

*.log

coverage/
test-report.xml

.env
.env.local
.env.development
.env.test
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*